# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# PyInstaller
dist/
build/
*.spec
*.zip

# IDE
.vscode/
.idea/
*.swp
*.swo

# App runtime
settings/
temp/
profiles/

# OS
Thumbs.db
Desktop.ini
.DS_Store
